@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.example-form-field {
  margin-right: 20px;


}
h2{

  color: black;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 3px;
}
h4 {
  color: hwb(0 50% 50%);
  text-align: left;

}
mat-form-field {
  margin-top: 2px;
  align-self: center;
  align-items: center;
  width: 100%;
color:#1fbae0;}
.mat-form-field-appearance-outline .mat-form-field-outline{
  color:#1fbae0
  ;
}

::ng-deep .mat-focus-indicator:hover {
  background-color: #1fbae0 !important;
}

::ng-deep .mat-calendar-body-selected {
  background-color: #1fbae0 !important;
}

::ng-deep .mat-calendar-body-cell-content .mat-focus-indicator {
  background-color: #1fbae0 !important;
}

.mat-datepicker-toggle-active[_ngcontent-ng-c4230508017] {
  color: #1fbae0 !important;
}
.mat-datepicker-toggle-active {
  color: #1fbae0 !important;
}

.mat-datepicker-toggle-active {
  color:#1fbae0 !important;
}
.bouton1{
  margin-top: 5px;

  width: 40%;
align-items: center;
left:0%;
}
.bouton2{
margin-top: 5px;
  width: 40%;
  align-items: center;
  background: #1fbae0;
  color: white;

left:20%;
}




.mat-icon-custom{
  float: left;
   margin-top: 20px;
   margin-left: 13px;
   margin-right: 0px;
}


