@use 'long-shadow';

.matero-error-wrap {
  text-align: center;
  justify-content: center;
}

.matero-error-code {
  margin-top: 200px;
  padding: 20px 20px;
  font-size: 100px;
  text-shadow:
    long-shadow.long-shadow(
      $direction: 45deg,
      $length: 60px,
      $color: rgba(0, 0, 0, .03),
      $fade: rgba(0, 0, 0, .0015),
      $shadow-count: 20
    );
}

.matero-error-title {
  margin: 50px 0 16px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

