
<div mat-dialog-title >


  <div class="icon1">

    <mat-icon class="mat-icon-custom" >cancel
    </mat-icon>
   </div>

  <h1 >
    Echec de paiment </h1>
</div>

<div mat-dialog-content>

<div class="container">
  <p>
    Nous vous informons qu'un échec de paiement a
  été détecté.
  </p>
  <p>Veuillez vérifier les informations de
    votre carte et réessayer.</p>

  </div>
   <button
   mat-raised-button
   class="bouton"
   mat-dialog-close="true"  >
   Retour à l'acceuil
 </button>


</div>


